# dependencies
node_modules/

# build outputs
dist/
build/
apps/*/.nuxt/
apps/*/.output/

# local env
.env
.env.*
!.env.example

# logs
*.log

# system
.DS_Store

# playwright outputs
apps/web-demo/playwright-report/
apps/web-demo/test-results/
apps/web-demo/tests/visual/.auth/
